#javaAndroidTrack, #cssDesignTrack, #phpDrupalTrack, #pleaseSelect {
  display:none;
}
#javaAndroidTrack h2, #cssDesignTrack h2, #phpDrupalTrack h2 {
  color:black;
  margin: 10px 0;
}
#pleaseSelect h3 {
margin: 10px 0;
}
.formStyles {
  width: 50%;
  margin: 20px auto;

  background-color: #eee;
  padding: 20px;
  border: 5px solid gray;
}
.instructionTxt {
  text-align: center;
  padding: 0 auto;
}
.jumbotron {
  margin: 0 0 10px 0;
  background-image: url("../img/header.jpeg");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 5px solid #eee;
}
h1, h2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}
.jumbotron h1 {
  color: white;
  text-transform: uppercase;
  font-family: 'Candal', sans-serif;
}
h2 {
  color: #eee;
  font-style: oblique;
}
body {
  background-image: url("../img/bodyImg.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
h3 {
  margin: 0;
}
@media screen and (max-width: 500px) {
  .formStyles {
    width: 100%;
    margin: 0;
  }
  .jumbotron {
    margin: 0;
    border:none;
  }
}
