#javaAndroidTrack, #cssDesignTrack, #phpDrupalTrack, #pleaseSelect {
  display:none;
}
.formStyles {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 20px;

  border: 10px solid gray;
}
.instructionTxt {
  text-align: center;
  padding: 0 auto;
}
.jumbotron {
  margin: 0 0 10px 0;
  background-image: url("../img/header2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 10px solid #eee;
}
h1, h2 {
  margin-left: 10%;
  margin-right: 10%;
}
.jumbotron h1 {
  color: white;
  text-transform: uppercase;
  font-family: 'Candal', sans-serif;
}
h2 {
  color: white;
}

body {
  background-image: url("../img/bodyImg.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
